body{
    background-image: url(../PNG/GRAFICHE/REGOLAMENTO.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

header{
    height: 105px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.titleBox{
    visibility: hidden;
}

#return{
    background-image: url(../PNG/ICONE/ICONE-01.png);
    background-size: cover;
    background-position: center;
    width: 42px;
    height: 42px;
}
#return:hover{
    cursor: pointer;
    background-image: url(../PNG/ICONE/ICONE-03.png);
}
#return.clicked {
    background-image: url(../PNG/ICONE/ICONE-03.png);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.book{
    margin-top: 3.5px;
    width: 50%;
    height: 60%;
    line-height: 18.8px;

    font-size: 12pt;
    white-space: pre-wrap;

    display: grid;
    grid-template-columns: 1fr 1fr;
}
#fullRules{
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
    margin-right: 14px;
    margin-left: 8px;
}
#modesRules{
    grid-column: 2/3;
    margin-left: 17px;
    font-family: 'Comic Neue', cursive;
    font-weight: 600;
}


